<section class="green-age-banner" aria-label="Homepage banner images">
    <div class="green-age-banner__slides">
        <img src="~/images/slideshow/01.jpg" alt="Banner image 1" loading="lazy" />
        <img src="~/images/slideshow/02.jpg" alt="Banner image 2" loading="lazy" />
        <img src="~/images/slideshow/03.jpg" alt="Banner image 3" loading="lazy" />
        <img src="~/images/slideshow/04.jpg" alt="Banner image 4" loading="lazy" />
    </div>
</section>