@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">WelcomeDuy Hoang</h1>
    <p>Use this area to provide additional information 22dthd5.</p>
</div>